<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 源栈</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/font-awesome.css" />
</head>
<body>
    <header>
        header
        @*  ViewData["HasLogOn"]这个是on页面的，如果想让其他页面也有未登录和已经登录的切换显示就需要在index或者你想要显示的页面
            拿到cooke进行判断，否则就不显示
            *@
        @if (ViewData["HasLogOn"] == null)
        {
            <span>未登录</span>

        }
        else
        {
            <span>已经登陆</span>
        }
        <a href="/Log/Off">退出登录</a>
        <hr />
    </header>

    <div >
            @RenderBody()
    </div>

    <div style="background-color:antiquewhite;">
        @RenderSection("Weights",false)
    </div>
    <footer>
        <hr />
        footer
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    
</body>
</html>
