@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>index</h1>

@section Weights{ 
<p>i m weights in index</p>
}
<p></p>
<img src="~/Images/che.png"/>
<img src="~/Images/che.png" asp-append-version="true"/>

<a asp-page="/Log/On">登录</a>

<a asp-page="/Article/Single" asp-route-id="8">文章</a>