@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


@*<p></p>
    <img src="~/Images/che.png" />
    <img src="~/Images/che.png" asp-append-version="true" />

    <a asp-page="/Log/On">登录</a>

    <a asp-page="/Article/Single" asp-route-id="8">文章</a>

    <pager path="/Index" pageIndex="3">第三页</pager>*@


@*@section Weights{
         <p>i m weights in index</p>
    }*@

<h1>index</h1>

<partial name="~/Views/_User.cshtml"/>

<form method="post">
    @*@foreach (var item in Model.Messages)
    {

    }*@
    @for (int i = 0; i < Model.Messages.Count; i++)
    {
        <input asp-for="@Model.Messages[i].Selected" />
        <span>@Model.Messages[i].CreateTime</span>
        <span>@Model.Messages[i].Content</span>
        <input type="hidden" asp-for="@Model.Messages[i].Id"/>
        <hr />
    }
    <button type="submit">已读</button>
</form>

<vc:_keywords amount="2"></vc:_keywords>
@*可能会有在index取10个数据，在single取5个数据这种需求，如何从父类页面控制*@
