@page
@* 这个page使用哪一个pageModel
    作用：进行传值
    页面的值就从pageModel里面来
*@
@model ScoreStack.Pages.RegisterModel
@{

}

<h1>register</h1>
@* 使用pageModel中的值，用法 在model里面的值可以直接在page使用*@
<p>您好，@Model.Name!源站欢迎你</p>